/* styles.css */
/* General Element Styles */
:root {
    --logo-txt-color: #f3ce95;
    --logo-bg-color: #3f0404;
    --logo-box-shadow-rgb: 58, 0, 13;
    --body-bg-color: #D1C09F;
    --body-txt-color: #434644;
    --link-hover-txt-color: #545c58;
    --component-bg-color: #dbaa8d;
    --subheader-color: #3f0404;
    --outline-color: #000;
    --hr-color: 38, 46, 41;
    --submit-btn-bg-color: #f3ce95;
    --submit-btn-bg-hover-color: #f3da95;
    --submit-btn-color: #3f0404;
    --submit-btn-hover-color: #9b2121;
    --encounter-display-bg-color: #ccad85;
    --creature-bg-color: #942b2b;
    --creature-txt-color: #fff7f0;
    --creature-link-color: #a5dee5;
    --creature-link-hover-color: #bce9f0;
    --login-bg-color: #681515;
    --login-color: #eff5f8;
    --login-link-color: #f3ce95;
    --login-error-message: #f3bf95;
}

html {
    width: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    width: 100%;
    min-width: 350px;
    background-color: var(--body-bg-color, blue);
    color: var(--body-txt-color, black);
    /* overflow-x: hidden; */
}

h1, h2 {
    font-family: "Bebas Neue", cursive;
    font-weight: 500;
    margin: 0;
}

p {
    margin: 0;
}

button, select {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

hr {
    color: rgba(var(--hr-color), 0.65);
    border: .125rem ridge;
}

/* Main Element Styles */
.ec-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.1rem;
    margin-top: 1rem;
}

.submit-btn {
    border: none;
    border-radius: 0.3125rem;
    font-family: "Bebas Neue", cursive;
    font-size: 1.4rem;
    padding: .25rem .5rem .125rem;
    background-color: var(--submit-btn-bg-color, gold);
    color: var(--submit-btn-color, red);
    cursor: pointer;
    border: 0.12rem solid var(--outline-color, black);
}

.submit-btn:hover {
    background-color: var(--submit-btn-bg-hover-color, yellow);
    color: var(--submit-btn-hover-color, pink);
}